# Переменные для postgres контейнера.
# Веб сервер будет подключатся с этими данными,
# поэтому они должны соответствовать пременным в .env 

POSTGRES_PASSWORD=online_service_user
POSTGRES_USER=online_service_pass
POSTGRES_DB=online_service_name
